# IntelliJ project files
.idea
*.iml
out
gen

# Build directory
target/
build/
bin/

# SVN
.svn

# Gradle files
.gradle
gradlew
gradlew.bat
gradle

# Backup files
*~

# Misc hidden files
.DS_Store

# class files
*.class

git.properties